<html>
<head>
<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="http://datamaps.github.io/scripts/0.4.4/datamaps.world.min.js"></script>

<div id="container" style="position: relative; width: 80%; height: 600px;"></div>

<script>
var map = new Datamap({
  scope: 'world',
  element: document.getElementById('container'),
  projection: 'mercator',
  height: 500,
  fills: {
    defaultFill: '#f0af0a',
    playerFill: 'black'
  },

  data: {}
  })

</script>

</head>

<%= form_tag("/clubs", method: "get") do %>
  <%= label_tag(:name, "club name:") %>
  <%= text_field_tag(:name,"",id:"the_only_text_field") %>
  <%= submit_tag("Search", id: "the_only_button") %>
<% end %>
</html>
