<html>
  <head>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script> -->
    <%= stylesheet_link_tag 'application' %>

    <div id="container">  <%= select("get", "club_name", Club.all.collect {|p| [ p.name ] }, {include_blank: 'Select club:'}) %>
</div>

    <script>
      var map = new Datamap({
        scope: 'world',
        element: document.getElementById('container'),
        projection: 'mercator',
        height: null,
        width: null,
        responsive: true,
        fills: {
          defaultFill: '#C4C4C4',
          playerFill: '#38003c'
        },
        geographyConfig:{
          hideAntarctica: null,
          highlightFillColor: '#e90052',
          popupTemplate: function(geography,data){
            return '<div class="country_info" id="country_info">' + geography.properties.name + '</strong></div>';
          }
        },
        bubblesConfig: {
          borderWidth: 0,
          popupTemplate: function(geography,data){
            return '<div class="player_info" id="player_info"><strong>' + data.name + '</strong><br><i>' + data.place_of_birth + '</i></div>';
          },
          highlightFillColor: '#e90052'
        }
      })

      $(window).on('resize', function() {
        map.resize();
      });

    </script>
  </head>

</html>
