<html>
  <head>
    <%= stylesheet_link_tag 'application' %>

    <div id="container">
      <%= select("get", "club_name", Club.all.collect {|p| [ p.name ] }, {include_blank: 'Select club:'}) %>
    </div>

    <script>
      var map = new Datamap({
        scope: 'world',
        element: document.getElementById('container'),
        projection: 'mercator',
        height: null,
        width: null,
        responsive: true,
        fills: {
          defaultFill: '#C4C4C4',
          playerFill: '#38003c'
        },
        geographyConfig:{
          hideAntarctica: null,
          highlightFillColor: '#e90052',
          popupTemplate: function(geography,data){
            return '<div class="country_info" id="country_info">' + geography.properties.name + '</strong></div>';
          }
        },
        bubblesConfig: {
          borderWidth: 0,
          popupTemplate: function(geography,data){

            // catches players with place_of_birth stripped
            if (data.place_of_birth === "") {
              data.place_of_birth = "No information";
            };
            
            return '<div class="player_info" id="player_info"><strong>' + data.name + '</strong><br><i>' + data.place_of_birth + '</i></div>';
          },
          highlightFillColor: '#e90052'
        }
      })

      $(window).on('resize', function() {
        map.resize();
      });

    </script>
  </head>

</html>
